

<div class="row">

	<h2>App basic information</h2>
	<hr>
	<div class="row">

		<div class="col-xs-3">
			<label for="name">Name *</label> <input type="text"
				class="form-control  input-sm" id="name" ng-model="vm.appform.appinfo.name"		placeholder="Name" required>
		</div>

	</div>

	<div class="row">

		<div class="col-xs-3">
			<label for="purpose">Purpose *</label> <input type="text"
				class="form-control  input-sm" id="purpose"  ng-model="vm.appform.appinfo.purpose" placeholder="Purpose" required>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-3">
			<label for="selEnviroment">Enviroments *</label> <select
				class="form-control  input-sm" id="selEnviroment"  ng-model="vm.appform.appinfo.selEnviroment" required>
				<option value="">Select...</option>
				<option value="Both">Both</option>
				<option value="PRD">PRD</option>
				<option value="M-F:8-8">DTA</option>
			</select>
		</div>


		<div class="col-xs-3">
			<label for="prdUsageProfile">Prd usage profile</label> <select
				class="form-control  input-sm" id="prdUsageProfile"  ng-model="vm.appform.appinfo.selPrdUsageProfile"  required>
				<option value="">Select...</option>
				<option value="24/7">24/7</option>
				<option value="M-F:8-8">M-F:8-8</option>
				<option value="Custom">Custom</option>
			</select>

		</div>

		<div class="col-xs-3">

			<label for="dtaUsageProfile">DTA usage profile</label> <select
				class="form-control  input-sm" id="dtaUsageProfile"   ng-model="vm.appform.appinfo.selDtaUsageProfile"  required>
				<option value="">Select...</option>
				<option value="24/7">24/7</option>
				<option value="M-F:8-8">M-F:8-8</option>
				<option value="Custom">Custom</option>
			</select>

		</div>
	</div>


	<div class="row">


		<div class="col-xs-3">
			<label for="authmethod">Authentication method </label> <select
				class="form-control  input-sm" id="authmethod" ng-model="vm.appform.appinfo.authmethod" required>
				<option value="">Select...</option>
				<option value="Active Directory">Active Directory</option>
				<option value="Database">Database</option>
				<option value="Other">Other</option>
			</select>
		</div>
	</div>

	<div class="row">

		<div class="col-xs-3">

			<label for="dataclassification">Data classification</label> <select
				class="form-control input-sm" id="dataclassification" ng-model="vm.appform.appinfo.dataclassification" required>
				<option value="">Select...</option>
				<option value="Secret">Secret</option>
				<option value="Confidential">Confidential</option>
				<option value="Company Confidential">Company Confidential</option>
				<option value="Public">Public</option>
			</select>

		</div>


		<div class="col-xs-3">
			<label for="appclassification">Application classification</label> <select
				class="form-control input-sm" id="appclassification" ng-model="vm.appform.appinfo.appclassification" required>
				<option value="">Select...</option>
				<option value="Low">Low</option>
				<option value="Medium">Medium</option>
				<option value="High">High</option>
				<option value="Critical">Critical</option>
			</select>

		</div>

	</div>

	
</div>


