

<div class="row">

	<h2>App details</h2>
	<hr>

	<div class="row">
		<div class="col-xs-3">
			<label for="softupdateinstallmethod">Software update/install method </label> <input
				type="text" class="form-control  input-sm" id="softupdateinstallmethod" ng-model="vm.appform.appinfo.softupdateinstallmethod"
				ng-model="vm.user.name" placeholder="Software update/install method..." required>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-3">
			<label for="userslocation">Location of end users </label> <input  ng-model="vm.appform.appinfo.userslocation"
				type="text" class="form-control  input-sm" id="userslocation"
				placeholder="Location of end users" required>

		</div>
	</div>

	<div class="row">

		<div class="col-xs-3">
			<label for="businessgroup">Business group </label> <input type="text"
				class="form-control  input-sm" id="businessgroup" placeholder="Business group" ng-model="vm.appform.appinfo.businessgroup"
				required>

		</div>
	</div>

	<div class="row">

		<div class="col-xs-3">
			<label for="pq">PO# </label> <input type="text"
				class="form-control  input-sm" id="pq" placeholder="PQ"  ng-model="vm.appform.appinfo.pq"
				required>

		</div>
	</div>

	<div class="row">

		<div class="col-xs-3">
			<label for="serviceowner">Service owner </label> <input type="text"
				class="form-control  input-sm" id="serviceowner" placeholder="Service owner" ng-model="vm.appform.appinfo.serviceowner"
				required>

		</div>


		<div class="col-xs-3">
			<label for="businessowner">Business owner </label> <input type="text"  ng-model="vm.appform.appinfo.businessowner"
				class="form-control  input-sm" id="businessowner" placeholder="Business owner"
				required>

		</div>
	</div>

	<div class="row">

		<div class="col-xs-3">
			<label for="internappconsult">Internal application consultant
			</label> <input type="text" class="form-control  input-sm" id="internappconsult" ng-model="vm.appform.appinfo.internappconsult"
				placeholder="Internal application consultant" required>

		</div>

		<div class="col-xs-3">
			<label for="externappconsult">External application consultant
			</label> <input type="text" class="form-control  input-sm" id="externappconsult" ng-model="vm.appform.appinfo.externappconsult"
				placeholder="External application consultant" required>

		</div>
	</div>

	<div class="row">

		<div class="col-xs-3">
			<label for="appinterfaces">AppInterfaces</label> <input
				type="text" class="form-control  input-sm" id="appinterfaces"  ng-model="vm.appform.appinfo.appinterfaces"
				placeholder="AppInterfaces" required> <span class="help-block">example:
				appinterface1, appinterface2, appinterface3...</span>

		</div>
	</div>

</div>








